apiVersion: v1
kind: Pod
metadata:
  name: httpd-frontend
  labels:
    app: httpd-frontend
spec:
  containers:
    - name: httpd-frontend
      image: microwebapps/httpd-frontend
      ports:
       - containerPort: 80
      env:
        - name: KUBERNETES_CLIENT_CERTIFICATE_DATA
          value: $kubernetes_client_certificate
        - name: KUBERNETES_CLIENT_KEY_DATA
          value: $kubernetes_client_key
        - name: KUBERNETES_NAMESPACE
          value: $kubernetes_namespace
